{% load static i18n %}<!DOCTYPE html>

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Hunger Less</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Template by FREEHTML5.CO" />
	<meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive" />
	<meta name="author" content="FREEHTML5.CO" />

  <!-- 
	//////////////////////////////////////////////////////

	FREE HTML5 TEMPLATE 
	DESIGNED & DEVELOPED by FREEHTML5.CO
		
	Website: 		http://freehtml5.co/
	Email: 			info@freehtml5.co
	Twitter: 		http://twitter.com/fh5co
	Facebook: 		https://www.facebook.com/fh5co

	//////////////////////////////////////////////////////
	 -->

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="shortcut icon" href="favicon.ico">

	<!-- <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'> -->
	
    <!-- Animate.css -->
    <link href="{% static 'css/home/animate.css' %}" rel="stylesheet">

    <!-- Icomoon Icon Fonts-->
    <link href="{% static 'css/home/icomoon.css' %}" rel="stylesheet">

    <!-- Bootstrap  -->
    <link href="{% static 'css/home/bootstrap.css' %}" rel="stylesheet">

    <!-- Superfish -->
    <link href="{% static 'css/home/superfish.css' %}" rel="stylesheet">

    <link href="{% static 'css/home/style.css' %}" rel="stylesheet">
	<link href="{% static 'css/project.css' %}" rel="stylesheet">

    <!-- Modernizr JS -->
    <script src="{% static 'js/home/modernizr-2.6.2.min.js' %}"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

	</head>
	<body>
		<div id="fh5co-wrapper">
		<div id="fh5co-page">
		<div class="header-top">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-sm-6 text-left fh5co-link">
						<a href="#">FAQ</a>
						<a href="#">Contact</a>
					</div>
					<div class="col-md-6 col-sm-6 text-right fh5co-social">
						<a href="#" class="grow"><i class="icon-facebook2"></i></a>
						<a href="#" class="grow"><i class="icon-twitter2"></i></a>
						<a href="#" class="grow"><i class="icon-instagram2"></i></a>
					</div>
				</div>
			</div>
		</div>
		<header id="fh5co-header-section" class="sticky-banner">
			<div class="container">
				<div class="nav-header">
					<a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle dark"><i></i></a>
					<h1 id="fh5co-logo"><a href="index.html">Hunger Less</a></h1>
					<!-- START #fh5co-menu-wrap -->
					<nav id="fh5co-menu-wrap" role="navigation">
						<ul class="sf-menu" id="fh5co-primary-menu">
							<li class="active">
                                <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
							</li>
							<li>
								<a href="#" class="fh5co-sub-ddown">Get Involved</a>
								<ul class="fh5co-sub-menu">
									<li><a href="#">Donate</a></li>
									<li><a href="#">Fundraise</a></li>
									<li><a href="#">Campaign</a></li>
									<li><a href="#">Philantrophy</a></li>
									<li><a href="#">Volunteer</a></li>
								</ul>
							</li>
							<li><a class="nav-link" href="{% url 'about' %}">About</a></li>
							<li><a class="nav-link" href="{% url 'contact' %}">Contact</a></li>
							{% if request.user.is_authenticated %}
							{% if request.user.is_staff %}
							<li class="nav-item px-3">
								<a class="nav-link" href="{% url 'post:posts' %}">Posts</a>
							  </li>
							  {% endif %}
							  {% endif %}
							  {% if request.user.is_authenticated %}
							  <li>{# URL provided by django-allauth/account/urls.py #}
								<a class="nav-link" href="{% url 'users:detail' request.user.username  %}">{% trans "My Profile" %} <i class="fa fa-user"></i></a>
							</li>
							<li class="nav-item d-md-down-none">
								{# URL provided by django-allauth/account/urls.py #}
								<a class="nav-link" href="{% url 'account_logout' %}">{% trans "Sign Out" %}</a>
							  </li>
							  {% else %}
							  <li class="nav-item d-md-down-none">
								{# URL provided by django-allauth/account/urls.py #}
								<a id="sign-up-link" class="nav-link" href="{% url 'account_signup' %}">{% trans "Sign Up" %}</a>
							  </li>
							  <li class="nav-item d-md-down-none">
								{# URL provided by django-allauth/account/urls.py #}
								<a id="log-in-link" class="nav-link" href="{% url 'account_login' %}">{% trans "Sign In" %}</a>
							  </li>
							  {% endif %}

						</ul>
					</nav>
				</div>
			</div>
		</header>
        
        {% block content %}

        {% endblock content %}
    
	</div>
	<!-- END fh5co-page -->

	</div>
	<!-- END fh5co-wrapper -->

	<!-- jQuery -->

    <script src="{% static 'js/home/jquery.min.js' %}"></script>
	<!-- jQuery Easing -->
    <script src="{% static 'js/home/jquery.easing.1.3.js' %}"></script>
	<!-- Bootstrap -->
    <script src="{% static 'js/home/bootstrap.min.js' %}"></script>
	<!-- Waypoints -->
    <script src="{% static 'js/home/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'js/home/sticky.js' %}"></script>

	<!-- Stellar -->
    <script src="{% static 'js/home/jquery.stellar.min.js' %}"></script>
	<!-- Superfish -->
    <script src="{% static 'js/home/hoverIntent.js' %}"></script>
    <script src="{% static 'js/home/superfish.js' %}"></script>
	
	<!-- Main JS -->
    <script src="{% static 'js/home/main.js' %}"></script>

	</body>
</html>

