{% extends "template.html" %}
{% block content %}
<div id="fh5co-feature-product" class="fh5co-section-gray">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center heading-section">
                <h3>What we do</h3>
                <p>Hunger Less is a non-profit oranization that aims to connects people/ oranizations who have excess food supplies to charities and other non-profit organizations 
                    who are willing to distribute them. We ourselves are involved in the distribution process and are striving to reduce hunger nationally.<br>
                    
                     <br>
                </p>
                <h3>The Process is Simple</h3>
                <p>Companies and persons (such as supermarkets and farmers) who have surplus food goods, which may be about to expire, can register and log into our application 
                    in order to post excess food goods. 
                    Either us or charties and other organizations may then see such posts and get in contact with the suppliers and organize pickup and distribution logistics.
                     <br>
                </p>
            </div>
        </div>

        
    </div>
</div>
{% endblock content %}
